# various hidden directories
.cache/
.cargo/
.local/share/
.local/state/
.mozilla/
.npm/
.pki/
.rustup/
.steam/
.var/

# home directories
codes/
desktop/
documents/
downloads/
music/
pictures/
public/
templates/
vault/
videos/
